<ion-view title="GradeCalc">
  <ion-content overflow-scroll="true" padding="false" class="has-header">
    <form class="list">
      <label class="item item-select" name="classDropdown">
        <span class="input-label">Selected Class:</span>
        <select>
          <option>COMP3008</option>
          <option>PHIL2501</option>
        </select>
      </label>
    </form>
    <form class="list">
      <div class="row">
        <div class="col">
          <h4 class="text-center">Your grade</h4>
        </div>
        <div class="col">
          <h4 class="text-center">Weight</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="number" placeholder="ex 78">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="number" placeholder="ex 40">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="number" placeholder="ex 92.3">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="number" placeholder="ex 15">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
      </div>
    </form>
    <button class="button button-calm button-block ">What's my mark?</button>
    <ion-list>
      <ion-item>Current grade:</ion-item>
      <ion-item>Final grade:</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
